/** $SIGNUP **/
.signup {
  h3 {
    color:#6e6e6e;
    font-size:1.714285714em;
    span {
      color:#A8A8A8;
    }
  }
  .success {
    margin-bottom: 20px;
  }
}
.steps {
  overflow: hidden;
  margin-top:35px;
  margin-bottom:45px;
  text-align:center;
  
  ul {
    @extend %h-list;
    margin-top:40px;
    list-style:none;
    text-align:center;
    li {
      display: inline-block;
      width: 25%;
      text-align: center;
      margin-right: 0;
      position: relative;
      &.active{
        color: $highlight;
        &:before  {
          
        background: $highlight;
        }
      }
      &:before {
        content: " ";
        width: 15px;
        height: 15px;
        background: $ltgrey;
        position: absolute;
        top: -30px;
        left: 50%;
        border-radius: 50%;
      }
      &:after {
        content: " ";
        width: 124px;
        height: 2px;
        background: $ltgrey;
        position: absolute;
        top: -25px;
        left: 62%;
      }
      &:last-child {
        &:after {
          background: none;
        }
      }

    }    
  }
 
}

.signup-step {
  input[type="text"], input[type="email"], input[type="password"] {
    
  }
  > ul {@extend %clearfix; }
  ul {
    list-style: none;
    li {margin-bottom:7px; }
  }
  p {
    margin-bottom:30px; 
    &.social span {
      display: block;
      margin-top:15px;
    }
  }
  h4 {
    font-size: 1em;
    color: #666;
  }
  label p {
    margin-bottom: 0;
  }
}

.field {
  position: relative;
  float: left;
  padding: 0 0 23px 0;
  width: 242px;
  &.full {
    float: none;
    clear:both;
    width: 100%;
    input[type="text"], input[type="email"], input[type="password"], textarea{
      width: 492px;
    }
  }
  &.left {
    clear:left;
  }
  &.right {
    float: right;
    padding-left:36px;
  }
  input[type="text"], input[type="email"], input[type="password"], textarea {
    width: 214px;
  }
  .selectbox {
    width: 212px;
  }
  select {
    width: 100%;
  }
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    @extend %inline-block;
    padding-left: 10px;
  } 
  ul {
    margin-top:5px;
    margin-bottom:10px;
    margin-left:20px;
  }
  label + input[type="text"] {
    margin-top: 10px;
  }
  li{ 
    overflow: hidden;
    input[type="radio"] {
      display: block;
      float: left;
      margin-left: 8px;
      width: 30px;
    }
    input[type="radio"] + label {
      display: block;
      float: left;
      width: 450px;
    }
    h4 {
      font-size: 1.1em;
      margin-bottom: 15px;
      line-height: 1;
    }
  }
}

.conditional-field legend {
  margin-left:20px;
}

#delegate-conditional {
  margin-top: -10px;
  margin-bottom:30px;
  li {
    padding-bottom:10px;
  }
  &> p {
    margin-bottom:10px;
  }
}

.field-text {
  position: absolute;
  top: 7px;
  left: -240px;
  width: 220px;
  text-align:right;
  font-size:.9em;
  &:after {
    position: absolute;
    top: 6px;
    right:-10px;
    display:block;
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 6px solid #444;
    content: ' ';
  }
  &.error {
    &:after {
      border-left-color:#ff0000;
    }
  }
}

.right .field-text {
  right: -240px;
  left: auto;
  text-align:left;
  &:after {
    right: auto;
    left: -10px;
    border-right:6px solid #444;
    border-left: none;
  }
  &.error:after {border-right-color:#ff0000;}
}

#category-select > ul {
  & >li {
    margin-bottom:10px;
    color:#6B6B6B;
  }
  ul {
    
    li {
      color:#9f9f9f;
    }
  }
}

#agreement {
  display: block;
  float: none;
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
  color: #777;
}
