@import 'utils.scss';
@import 'signup.scss';
@import 'elems.scss';
@import 'modules.scss';
@import 'header.scss';
@import 'footer.scss';
@import 'prelaunch.scss';


/* ==========================================================================
   custom styles
   ========================================================================== */


/** FORM ELEMENTS **/

.selectbox { 
	@extend %inline-block;
	position: relative;
	border: 1px solid #c8c8c8;
	border-radius:5px;
	box-shadow: inset 0 -1px 2px #f1f1f1;
	padding-left: 28px;
	select { 
		position: relative;
		z-index: 10; 
		height:30px;
		outline: none;
		border: none; 
		background: none;
		opacity: 0; 
		filter: alpha(opacity=0);
		-webkit-appearance: none;
	}
}

.selecttext {
	@extend %inline-block;
	position: absolute;
	left: 18px;
	z-index: 9;
	padding-top: 5px;
	background: transparent;
	
}

.select-arrow {
	@extend %inline-block;
	@include gradient(#fafafa, #f2f2f2);
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 10px;
	width: 6px;
	height: 100%;
	border-left: 1px solid #c8c8c8;
	border-radius: 0 5px 5px 0;
	background-position: center center;
	&:after {
		position: absolute;
		top: 50%;
		right: 35%;
		width: 6px;
		height: 4px;
		background: url(../assets/grey-caret.png) no-repeat right;
		content: ' ';
	}
}

.range {
	margin-right:5px;
	margin-left:11px;
	height:11px;
	height:11px;
	border: 1px solid #e8e8e8;
	border:none;
	border-radius:5px;
	background:#f7f7f7;
	box-shadow: inset 0 2px 3px #ebebeb;
	*overflow: hidden;
	.ui-widget-header {
		@include gradient(#90a9ba, #5e6d78);
		top: 3px;
		height:5px;
	}
	.ui-slider-handle {
		top: -2px;
		width:4px;
		height:4px;
		border: 5px solid #5e6d78;
		border-radius:6px;
		background:#bebfc0;
		box-shadow: 0 1px 2px rgba(0,0,0,0.3);
		&:focus {outline: none;}
	}
}

.range-input {
	border:none;
	background:none;
	&:focus {outline:none;}
}


legend, .legend {
	display:block;
	margin-bottom:8px;
	color:#6B6B6B;
}


.stripe {
	position: absolute;
	top: 0;
	left:0;
	z-index: 1;
	width:100%;
	height:260px;
	border-bottom:1px solid #f0f0f0;
	background:#fff;
}



/** $APP **/

.app {
	@extend %clearfix;
	 position: relative;
	 z-index: 2;
	border:1px solid $ltgrey;
	background:#fff;
	& > aside {
		float: left;
		padding:30px 40px 0 40px;
		width: 187px;
	}
	input[type="text"], input[type="email"], textarea, input[type="password"] {
		@extend %field;
	}
	&.signup {
		border-radius:5px;
		box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	}
}

.narrow {
	margin:80px auto;
	width:520px;
	h1 {
		margin-bottom:25px;
		color:#717171;
		text-align:center;
	}
	h2 {
		text-align:center;
	}
}

/** MAIN **/

.main {
	float: left;
	padding:30px 20px 20px 20px;
	width:730px;
	border-right:1px solid $ltgrey;
}

.title {
	display: inline-block;
	color:$highlight;
	font-weight: normal;
}

.date-select {
	@extend %inline-block;
	float: right;
	
}

#basic-measures, .date-select {
	.selectbox {
		@include gradient(#ffffff, #f5f5f5);
		padding-right:10px;
		border: 1px solid #dfdfdf;
		border-radius: 5px 0 0 5px;
	}
	.selectbox + .selectbox {
		margin-left: -5px;
		border-radius: 0 5px 5px 0;
	}
	.select-arrow{
		top:-3px;
		right:8px;
		right:0;
		border:none;
		background: none;
	}
	.selectbox + span {
		@extend %inline-block;
		margin: 0 8px;
	}
	.selecttext {
		color: #757f83;
	font-weight: bold;
	}
}

/** $TABS **/



.tab-container {
	clear:both;
	padding:30px 20px 30px 30px;
	border:1px solid $ltltgrey;
	border-radius:5px;
}

.tabs {
	@extend %clearfix;
	@extend %h-list;
	margin-left:30px;
	margin-top: 40px;
	padding-bottom:4px;
	li {
		margin-right:0;
		a {
			position:relative;
			position: relative;
			z-index: 12;
			padding:6px 17px;
			border: 1px solid $ltltgrey;
			border-right:none;
			border-left:none;
			background:#f7f7f7;
			text-decoration:none;
			font-weight:bold;
			&.active {
				padding-top:10px;
				border-bottom-color:#fff;
				border-left: 1px solid $ltltgrey;
				background:#fff;
			}
		}
		&:first-child a {
			border-left:1px solid $ltltgrey;
			&.active {border-right:1px solid $ltltgrey;}
		}
		&:last-child a {
			border-right:1px solid $ltltgrey;
		}
	}
}

.tab {position: relative; }

#basic-measures {
	display: block;
	float: right;
	clear: both;
	margin-top: 25px;
	.selectbox {
		border-radius: 5px;
		padding-right: 30px;
	}
}

.data-list {
	@extend %clean-list;
	width:100%;
	li {
		@extend %clearfix;
		margin-bottom:17px;
		border: 1px solid #ECECEC;
		border-radius:5px;
		h3 {
			position: relative;
			margin-bottom: 12px;
			color:#6e6e6e;
			line-height:1.3;
			.hint {
				position: absolute;
				right:0;
			}
		}
		h4 {
			font-size: 1.1em;
			font-weight: normal;
			margin-bottom: 12px;
		}
	}
	.tag {
		font-size: 11px;
	}
}

.key, .value {
	float: left;
	padding:30px 40px;
}
.key {
	padding-right:15px;
	width:313px;
	border-right: 1px dashed #ECECEC;
	p {
		color:#8b8b8b;
		font-size:.857142857em;
		strong {
			font-weight: normal;
			color: #222;
		}
	}
}

.value {
	width:226px;
	input[type="text"] {
		width: 170px;
		@extend %field;
	}
	p, h3 {
		text-align:center;
	}
	p {font-weight:bold; }
	h3 {
		span {
			color:#A8A8A8;
		}
	}
}

.input-prepend {
	display: inline-block;
	input[type="text"] {
		width: 136px;
		display: inline-block;
		border-radius: 0 5px 5px 0;
	}
	span {
		width: 8px;
		padding: 7px 12px 6px 12px;
		display: inline-block;
		border: 1px solid #c8c8c8;
  	border-radius:5px 0 0 5px;
  	border-right: none;
	}
}


.add-note {
	display: inline-block;
	padding-left: 10px;
}

.tag {
	border-radius: 50px;
	padding: 3px 8px;
	font-weight: normal;
	background: #e2f0fc;
	color: #222;
	&.unassigned {
			background: #e8e8e8;
	}
}

.data-legend {
	@extend %clearfix;
	margin:20px 0;
	ul {
		list-style:none;
		float: right;
		li {
			margin-bottom:12px;
			color:#bdbdbd;
		}
		.color {
			width:12px;
			height:12px;
			@extend %inline-block;
			margin-right:10px;
			background:#00aeef;
			border-radius:3px;
			&.competitors {
				background: #f26522;
			}
		}
	}
}

.hint {
	@extend %inline-block;
	padding-top:1px;
	width:16px;
	height:15px;
	border: 1px solid #c4c4c4;
	border-radius:15px;
	color:#c4c4c4;
	text-align:center;
	text-decoration:none;
	font-weight:normal;
	font-size:.785714286em;
	@include gradient(#fefefe, #f3f3f3);
}

.ui-tooltip {
	max-width:105px;
	border:none;
	border-radius:3px;
	background:rgba(0,0,0,0.7);
	box-shadow: none;
	color:#eaeaea;
	text-align:center;
	text-shadow:none;
	font-size:13px;
	&:before {
		position: absolute;
		top: -4px;
		left:45%;
		display:block;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 0 6px 6px 6px;
		border-color: transparent transparent #000000 transparent;
		content: " ";
	}
}

.alert, .notice {
	@extend %clearfix;
	margin-top:15px;
	text-transform:uppercase;
	font-weight:bold;
	font-size: .857142857em;
	&.warning {color:#e8b59e;}
	p {
		float: left;
		padding-top:6px;
	}
	.btn {
		float: right;
	}
}

.form-actions {
	a:last-child {
		display: inline-block;
		padding-left: 10px;
	}
}

/** DISCUSSION **/

.discussion {
	@extend %clearfix;
	margin-top:70px;
	padding:0 30px 0 20px;
}

.comments {
	float: left;
	width:430px;
}

.comment {
	color:#b0b0b0;
	h3 {
		margin-bottom:18px;
		color:#8b8b8b;
		font-size:1.142857143em;
		span, a {
			@extend %inline-block;
			padding-left:15px;
		}
	}
	& + .comment {
		margin-top:45px;
	}
}

#post-comment {
	@extend %clearfix;
	textarea {
		margin-bottom:15px;
		min-height:80px;
		width:404px;
	}
	.btn {
		@extend %right;
	}
}

.members {
	float: left;
	padding-left:40px;
	width: 210px;
	color:#5c6266;
	h4 {
		margin-bottom:30px;
		padding-left:27px;
		background:url(../assets/user.png) no-repeat left 4px;
		font-size:1.142857143em;
	}
	ul {
		@extend %clean-list;
		padding-left:27px;
		li {
			margin-bottom:20px;
		}
	}
	input[type="email"], .btn {
		margin-bottom:8px;
		margin-left:27px;
		padding:6px 12px;
		width:125px;
	}

	.error, .success {
		margin-left: 27px;
	}
}

/** $WIDGETS **/

.widget {
	overflow: hidden;
	margin-bottom:40px;
	h2 {
		@include gradient(#ffffff, #f5f5f5);
		margin-bottom:0;
		padding:9px 0;
		border: 1px solid $medgrey;
		border-radius: 5px 5px 0 0;
		text-align:center;
		font-size:1em;
	}
	.btn {
		display:block;
		margin-bottom: 15px;
		font-weight: normal;
	}
}

.widget-content {
	@extend %clean-list;
	padding:20px;
	border: 1px solid $medgrey;
	border-top:none;
	li {
		position: relative;
		clear:both;
		overflow: hidden;
		padding-bottom:13px;
		.slider {
			top: 1em;
		}
		label{
			display: inline-block;
			padding-left: 10px;
		}
		input {
		
			margin: 1px;
		}
		ul {
			clear: both;
			padding-top:13px;
			list-style: none;
		}
		li {
			margin-left:20px;
			padding-bottom:6px;
			text-transform:uppercase;
			font-size:.8em;
		}
	}
	
	input[type="text"], input[type="email"], textarea {
		@extend %field;
		margin-bottom:15px;
		width:121px;
	}
	.btn {
		display:block;
		margin-bottom:15px;
		width:100%;
	}
	.range-slider {
		clear: both;
		padding-top:10px;
		input[type="text"] {
			margin-bottom:0;
			padding-right:0;
			border:none;
			box-shadow: none;
			color:$highlight;
			text-align:right;
			font-size:.9em;
		}
	}

}

.helpful-hint {
	text-align: center;
	h3 {
		color: #646464;
	}
	p + a {
		display: block;
		color: #646464;
		margin-top: 10px;
	}
}

.modal {
	position: fixed;
	z-index: 10;
	top: 150px;
	width: 500px;
	left: 50%;
	margin-left: -250px;
}

.modal-form {
	background: #FFF;
	padding: 20px;
	border-radius: 10px;
	label {
		float: left;
		font-size: 1.2em;
		font-weight: bold;
	}
	input[type="email"] {
		float: left;
		@extend %field;
	}
	input[type="text"] {
		float: right;
		@extend %field;
	}
	textarea {
		@extend %field;
		clear: both;
		margin: 0 0 20px 0;
		display: block;
		width: 435px;
	}
	.btn {
		clear: both;
		display: inline-block;
	}
	p {
		margin-bottom: 15px;
		clear: both;
	}
}

#add-invitee {
	display: block;
	padding-top: 10px;
}

#note-form textarea {
	margin-top: 50px;
}

.page {
	h2 {
		font-size: 2em;
		font-weight: bold;
	}
	h2, h3, h4 {
		color: #666;
	}
	p {
		margin-bottom: 15px;
	}
	ul {
		margin-bottom: 15px;
		margin-left: 15px;
	}
	li {
		margin-bottom: 5px;
	}
}
