@import url(smoothness/jquery-ui-1.9.0.custom.min.css);
/* ==========================================================================
   mixins and placeholders
   ========================================================================== */
.signup-step > ul, .page-header, .app-header, .app-subheader, footer, .slide .container, .app, .tabs, .data-list li, .data-legend, .alert, .discussion, #post-comment {
  *zoom: 1; }
  .signup-step > ul:before, .page-header:before, .app-header:before, .app-subheader:before, footer:before, .slide .container:before, .app:before, .tabs:before, .data-list li:before, .data-legend:before, .alert:before, .discussion:before, #post-comment:before, .signup-step > ul:after, .page-header:after, .app-header:after, .app-subheader:after, footer:after, .slide .container:after, .app:after, .tabs:after, .data-list li:after, .data-legend:after, .alert:after, .discussion:after, #post-comment:after {
    display: table;
    content: " "; }
  .signup-step > ul:after, .page-header:after, .app-header:after, .app-subheader:after, footer:after, .slide .container:after, .app:after, .tabs:after, .data-list li:after, .data-legend:after, .alert:after, .discussion:after, #post-comment:after {
    clear: both; }

.page-header nav, .login, #post-comment .btn {
  display: block;
  float: right; }

.steps ul, .page-header nav ul, #month-select, .sub-footer ul, .slide-nav, .tabs {
  list-style: none; }
  .steps ul > li, .page-header nav ul > li, #month-select > li, .sub-footer ul > li, .slide-nav > li, .tabs > li {
    float: left;
    margin-right: 17px; }
    .steps ul > li:last-child, .page-header nav ul > li:last-child, #month-select > li:last-child, .sub-footer ul > li:last-child, .slide-nav > li:last-child, .tabs > li:last-child {
      margin-right: 0; }
  .steps ul a, .page-header nav ul a, #month-select a, .sub-footer ul a, .slide-nav a, .tabs a {
    text-decoration: none; }

footer .links ul, .data-list, .members ul, .widget-content {
  list-style: none; }
  footer .links ul a, .data-list a, .members ul a, .widget-content a {
    text-decoration: none; }

.field input[type="checkbox"] + label,
.field input[type="radio"] + label, .btn, .login form .highlight, .proximity label, .proximity select, .proximity .prox-slider, #prox-range, #month-select .year-back, #month-select .year-next, #month-select .year-select, .sub-footer ul, .cta .btn img, .cta input[type="text"], .cta input[type="password"], .cta .selectbox, .selectbox, .selecttext, .select-arrow, .date-select, #basic-measures .selectbox + span, .date-select .selectbox + span, .data-legend ul .color, .hint, .comment h3 span, .comment h3 a {
  display: inline-block;
  zoom: 1;
  *display: inline; }

.login form input[type="text"], .cta input, .cta .selectbox, .app input[type="text"], .app input[type="email"], .app textarea, .app input[type="password"], .value input[type="text"], .widget-content input[type="text"], .widget-content input[type="email"], .widget-content textarea, .modal-form input[type="email"], .modal-form input[type="text"], .modal-form textarea {
  padding: 8px 12px;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px #f1f1f1; }
  .login form input[type="text"]:focus, .cta input:focus, .cta .selectbox:focus, .app input[type="text"]:focus, .app input[type="email"]:focus, .app textarea:focus, .app input[type="password"]:focus, .value input[type="text"]:focus, .widget-content input[type="text"]:focus, .widget-content input[type="email"]:focus, .widget-content textarea:focus, .modal-form input[type="email"]:focus, .modal-form input[type="text"]:focus, .modal-form textarea:focus {
    outline: none;
    border-color: #3fb3de;
    background: #F9FDFF; }
  .login form input.error[type="text"], .cta input.error, .cta .error.selectbox, .app input.error[type="text"], .app input.error[type="email"], .app textarea.error, .app input.error[type="password"], .value input.error[type="text"], .widget-content input.error[type="text"], .widget-content input.error[type="email"], .widget-content textarea.error, .modal-form input.error[type="email"], .modal-form input.error[type="text"], .modal-form textarea.error {
    border-color: #ff0000;
    background-color: #fef7f7; }
  .login form input.success[type="text"], .cta input.success, .cta .success.selectbox, .app input.success[type="text"], .app input.success[type="email"], .app textarea.success, .app input.success[type="password"], .value input.success[type="text"], .widget-content input.success[type="text"], .widget-content input.success[type="email"], .widget-content textarea.success, .modal-form input.success[type="email"], .modal-form input.success[type="text"], .modal-form textarea.success {
    border-color: #13a1d5;
    background-color: #e3f6fc; }

.searchbox, #prox-zip-code, #month-select {
  padding: 7px;
  border: 1px solid #192025;
  border-bottom-color: #232c33;
  border-radius: 4px;
  background: #222b31;
  box-shadow: inset 0 1px 1px #232c33;
  color: #797f83; }

.app-subheader .selectbox, #month-select li:first-child {
  border: 1px solid #313e48;
  border-radius: 5px;
  background: #606e79;
  box-shadow: inset 0 1px 2px #6d7b85; }

p.error, p.success {
  margin-bottom: 10px;
  padding: 6px 12px;
  border-radius: 5px; }

/** $SIGNUP **/
.signup h3 {
  color: #6e6e6e;
  font-size: 1.714285714em; }
  .signup h3 span {
    color: #A8A8A8; }
.signup .success {
  margin-bottom: 20px; }

.steps {
  overflow: hidden;
  margin-top: 35px;
  margin-bottom: 45px;
  text-align: center; }
  .steps ul {
    margin-top: 40px;
    list-style: none;
    text-align: center; }
    .steps ul li {
      display: inline-block;
      width: 33%;
      text-align: center;
      margin-right: 0;
      position: relative; }
      .steps ul li.active {
        color: #17c2e7; }
        .steps ul li.active:before {
          background: #17c2e7; }
      .steps ul li:before {
        content: " ";
        width: 15px;
        height: 15px;
        background: #e6e6e6;
        position: absolute;
        top: -30px;
        left: 50%;
        border-radius: 50%; }
      .steps ul li:after {
        content: " ";
        width: 152px;
        height: 2px;
        background: #e6e6e6;
        position: absolute;
        top: -25px;
        left: 60%; }
      .steps ul li:last-child:after {
        background: none; }

.signup-step ul {
  list-style: none; }
  .signup-step ul li {
    margin-bottom: 7px; }
.signup-step p {
  margin-bottom: 30px; }
  .signup-step p.social span {
    display: block;
    margin-top: 15px; }
.signup-step h4 {
  font-size: 1em;
  color: #666; }
.signup-step label p {
  margin-bottom: 0; }

.field {
  position: relative;
  float: left;
  padding: 0 0 23px 0;
  width: 242px; }
  .field.full {
    float: none;
    clear: both;
    width: 100%; }
    .field.full input[type="text"], .field.full input[type="email"], .field.full input[type="password"], .field.full textarea {
      width: 492px; }
  .field.left {
    clear: left; }
  .field.right {
    float: right;
    padding-left: 36px; }
  .field input[type="text"], .field input[type="email"], .field input[type="password"], .field textarea {
    width: 214px; }
  .field .selectbox {
    width: 212px; }
  .field select {
    width: 100%; }
  .field input[type="checkbox"] + label,
  .field input[type="radio"] + label {
    padding-left: 10px; }
  .field ul {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 20px; }
  .field li {
    overflow: hidden; }
    .field li input[type="radio"] {
      display: block;
      float: left;
      margin-left: 8px;
      width: 30px; }
    .field li input[type="radio"] + label {
      display: block;
      float: left;
      width: 450px; }
    .field li h4 {
      font-size: 1.1em;
      margin-bottom: 15px;
      line-height: 1; }

.conditional-field legend {
  margin-left: 20px; }

#delegate-conditional {
  margin-top: -10px;
  margin-bottom: 30px; }
  #delegate-conditional li {
    padding-bottom: 10px; }
  #delegate-conditional > p {
    margin-bottom: 10px; }

.field-text {
  position: absolute;
  top: 7px;
  left: -240px;
  width: 220px;
  text-align: right;
  font-size: .9em; }
  .field-text:after {
    position: absolute;
    top: 6px;
    right: -10px;
    display: block;
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 6px solid #444444;
    content: ' '; }
  .field-text.error:after {
    border-left-color: #ff0000; }

.right .field-text {
  right: -240px;
  left: auto;
  text-align: left; }
  .right .field-text:after {
    right: auto;
    left: -10px;
    border-right: 6px solid #444444;
    border-left: none; }
  .right .field-text.error:after {
    border-right-color: #ff0000; }

#category-select > ul > li {
  margin-bottom: 10px;
  color: #6B6B6B; }
#category-select > ul ul li {
  color: #9f9f9f; }

#agreement {
  display: block;
  float: none;
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
  color: #777; }

html,
button,
input,
select,
textarea {
  color: #222; }

body {
  background: white url(../assets/bg-tile.jpg) repeat;
  color: #9f9f9f;
  font-size: .875em;
  font-family: Arial, sans-serif;
  line-height: 1.4; }

a {
  color: #9f9f9f; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc; }

img {
  vertical-align: middle; }

fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

textarea {
  resize: vertical; }

h1 {
  margin-bottom: 25px;
  color: #717171;
  font-size: 2em; }

h2 {
  font-weight: normal;
  font-size: 1.285714286em;
  margin-bottom: 1em; }

h3 {
  margin-bottom: 20px;
  font-size: 1.285714286em; }

h4 {
  margin-bottom: 20px;
  color: #9F9F9F;
  font-size: 1.35em; }

p {
  line-height: 1.5; }

.chromeframe {
  margin: 0.2em 0;
  padding: 0.2em 0;
  background: #ccc;
  color: #000; }

/** REUSABLES **/
.btn {
  padding: 6px 16px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  box-shadow: inset 0 -2px 3px #ededed;
  color: #8b8b8b;
  text-decoration: none;
  font-weight: bold;
  background-color: #fdfdfd;
  background-image: -moz-linear-gradient(top, #fdfdfd, #f6f6f6);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fdfdfd), color-stop(1, #f6f6f6));
  background-image: linear-gradient(top, #fdfdfd, #f6f6f6); }
  .btn:hover {
    background-color: white;
    background-image: -moz-linear-gradient(top, white, #fbfbfb);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #fbfbfb));
    background-image: linear-gradient(top, white, #fbfbfb);
    box-shadow: inset 0 -2px 3px whitesmoke;
    color: #747474; }
  .btn:active {
    background: #f6f6f6;
    box-shadow: inset 0 1px 2px #e0e0e0; }
  .btn.blue {
    background-color: #5dc9f2;
    background-image: -moz-linear-gradient(top, #5dc9f2, #3cb2dd);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5dc9f2), color-stop(1, #3cb2dd));
    background-image: linear-gradient(top, #5dc9f2, #3cb2dd);
    border-color: #2386b0;
    box-shadow: inset 0 -2px 3px #3cb2dd;
    color: #fff;
    text-shadow: 0 -1px 1px #2386b0; }
    .btn.blue:hover {
      background-color: #75d1f4;
      background-image: -moz-linear-gradient(top, #75d1f4, #5abee2);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #75d1f4), color-stop(1, #5abee2));
      background-image: linear-gradient(top, #75d1f4, #5abee2);
      box-shadow: inset 0 -2px 3px #6cc5e5; }
    .btn.blue:active {
      background: #3cb2dd;
      box-shadow: inset 0 1px 2px #239cc8; }
  .btn.green {
    background-color: #9bcb18;
    background-image: -moz-linear-gradient(top, #9bcb18, #8cc216);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #9bcb18), color-stop(1, #8cc216));
    background-image: linear-gradient(top, #9bcb18, #8cc216);
    border-color: #4e7c07;
    box-shadow: inset 0 -2px 6px #75b735, inset 0 1px 2px #c1df6f;
    color: #fff;
    text-shadow: 0 0px 2px rgba(0, 0, 0, 0.4); }
    .btn.green:hover {
      background-color: #9ed019;
      background-image: -moz-linear-gradient(top, #9ed019, #96d018);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #9ed019), color-stop(1, #96d018));
      background-image: linear-gradient(top, #9ed019, #96d018);
      box-shadow: inset 0 1px 2px #cae484; }
    .btn.green:active {
      background: #8cc216;
      box-shadow: inset 0 1px 2px #61972c; }
  .btn.red {
    background-color: #ff201f;
    background-image: -moz-linear-gradient(top, #ff201f, #d10100);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff201f), color-stop(1, #d10100));
    background-image: linear-gradient(top, #ff201f, #d10100);
    padding: 10px 30px;
    border-color: #9e0100;
    box-shadow: inset 0 -2px 6px #b70100, inset 0 1px 1px #ff9e9e;
    color: #fff;
    text-shadow: 0 0px 2px rgba(0, 0, 0, 0.4); }
    .btn.red:hover {
      background-color: #ff2f2e;
      background-image: -moz-linear-gradient(top, #ff2f2e, #e50100);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff2f2e), color-stop(1, #e50100));
      background-image: linear-gradient(top, #ff2f2e, #e50100);
      box-shadow: inset 0 -2px 6px #eb0100;
      color: #fff; }
    .btn.red:active {
      background: #d10100;
      box-shadow: inset 0 1px 2px #9e0100; }
  .btn.altblue {
    background-color: #6fb8dc;
    background-image: -moz-linear-gradient(top, #6fb8dc, #3299cc);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6fb8dc), color-stop(1, #3299cc));
    background-image: linear-gradient(top, #6fb8dc, #3299cc);
    padding: 10px 30px;
    border-color: #287aa3;
    box-shadow: inset 0 -2px 6px #2d8ab8, inset 0 1px 1px #acd6eb;
    color: #fff;
    text-align: center;
    text-shadow: 0 0px 2px rgba(0, 0, 0, 0.4); }
    .btn.altblue:hover {
      background-color: #7bbedf;
      background-image: -moz-linear-gradient(top, #7bbedf, #42a1d1);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7bbedf), color-stop(1, #42a1d1));
      background-image: linear-gradient(top, #7bbedf, #42a1d1);
      box-shadow: inset 0 -2px 6px #46a3d2;
      color: #fff; }
    .btn.altblue:active {
      background: #3299cc;
      box-shadow: inset 0 1px 2px #287aa3; }
  .btn.primary {
    display: block;
    text-align: center; }

.highlight {
  color: #17c2e7; }

.error, .error a {
  color: #B94A48; }

.success, .success a {
  color: #468847; }

p.error {
  border: 1px solid #e6b4b3;
  background: #F2DEDE; }

p.success {
  border: 1px solid #b3d8b4;
  background: #DFF0D8; }

.center {
  text-align: center; }

.well {
  background: #f4f4f4;
  box-shadow: inset 0 1px 2px #dddddd; }

.container {
  position: relative;
  margin: 0 auto;
  width: 1040px; }

.popover {
  display: inline-block;
  position: relative; }

.popover-content {
  position: absolute;
  left: 120%;
  top: -50%;
  background: #FFF;
  border: 1px solid #f4f4f4;
  padding: 10px;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.2);
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  color: #888;
  z-index: 5; }
  .popover-content:before {
    position: absolute;
    left: -10px;
    top: 16px;
    content: " ";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    z-index: 20; }
  .popover-content:after {
    position: absolute;
    left: -12px;
    top: 14px;
    content: " ";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 12px 12px 12px 0;
    border-color: transparent #d9d9d9 transparent transparent;
    z-index: 10; }
  .popover-content label {
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 10px; }

.popover-wrapper {
  display: inline-block; }

#neighborhood-select {
  display: none;
  width: 350px;
  left: 105%; }
  #neighborhood-select ul {
    list-style: none; }
  #neighborhood-select li {
    display: inline-block;
    width: 49%; }
  #neighborhood-select input, #neighborhood-select label {
    display: inline-block; }
  #neighborhood-select label {
    padding-left: 8px; }

#neighborhood-trigger {
  display: none; }

/** $HEADER **/
.page-header {
  padding: 40px 0 20px 0; }
  .page-header nav {
    padding-top: 30px;
    font-weight: bold; }
    .page-header nav a {
      text-decoration: none;
      font-weight: normal; }
      .page-header nav a:hover {
        text-decoration: underline; }

.pre-launch.page-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #f6f8fa; }
  .pre-launch.page-header label {
    margin-right: 12px; }

.pre-launch .btn.blue, .slide .btn {
  background-color: #5eb1eb;
  background-image: -moz-linear-gradient(top, #5eb1eb, #0079d9);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5eb1eb), color-stop(1, #0079d9));
  background-image: linear-gradient(top, #5eb1eb, #0079d9);
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 10px rgba(255, 255, 255, 0.3);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
  font-size: 1.142857143em; }
  .pre-launch .btn.blue:hover, .slide .btn:hover {
    background-color: #3e9ee5;
    background-image: -moz-linear-gradient(top, #3e9ee5, #368ed0);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3e9ee5), color-stop(1, #368ed0));
    background-image: linear-gradient(top, #3e9ee5, #368ed0);
    box-shadow: inset 0 1px 10px rgba(255, 255, 255, 0.2); }
  .pre-launch .btn.blue:active, .slide .btn:active {
    border: 1px solid rgba(0, 0, 0, 0.7);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5); }

.logo {
  position: relative;
  z-index: 5;
  float: left; }

/** $LOGIN **/
.login {
  position: relative;
  z-index: 500;
  margin-bottom: 0;
  padding-top: 20px; }
  .login form {
    position: absolute;
    top: 150%;
    right: 0;
    z-index: 300;
    display: none;
    padding: 23px;
    width: 164px;
    border-radius: 5px;
    background: #f3f3f2;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5); }
    .login form:before {
      position: absolute;
      top: -5px;
      right: 35px;
      display: block;
      border-right: 5px solid transparent;
      border-bottom: 5px solid #f3f3f2;
      border-left: 5px solid transparent;
      content: ' '; }
    .login form input[type="text"] {
      margin-bottom: 15px;
      width: 137px; }
    .login form .highlight {
      padding-top: 5px;
      text-decoration: none; }
    .login form .btn {
      float: right; }

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); }

/** DASHBOARD HEADER **/
.app-header {
  position: relative;
  z-index: 2;
  padding: 0 25px;
  border: 1px solid #e6e6e6;
  border-radius: 5px 5px 0 0;
  background: #fff;
  box-shadow: inset 0 -4px 8px #f0f1f2;
  width: 990px; }
  .app-header h1 {
    float: right;
    padding-top: 18px;
    color: #a4a4a4;
    font-size: 1.285714286em;
    line-height: 1; }
  .app-header .btn {
    float: left;
    margin: 12px 12px 0 0; }

.profile-progress {
  float: left;
  margin-right: 20px;
  padding: 20px 20px 16px 12px;
  width: 200px;
  border-right: 1px solid #e6e6e6;
  font-weight: bold; }

.progress-bar {
  position: relative;
  float: left;
  margin-right: 10px;
  padding: 5px;
  width: 150px;
  height: 11px;
  border-radius: 10px;
  background: #3f4e59;
  box-shadow: inset 0 2px 3px #20272d; }

.progress {
  background-color: #b2dbf8;
  background-image: -moz-linear-gradient(top, #b2dbf8, #60a9e1);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #b2dbf8), color-stop(1, #60a9e1));
  background-image: linear-gradient(top, #b2dbf8, #60a9e1);
  position: relative;
  display: block;
  height: 100%;
  border-radius: 10px; }

.app-subheader {
  z-index: 2;
  padding: 20px 15px;
  background: #36444f;
  color: #cdd2d5;
  width: 1010px; }
  .app-subheader .searchbox {
    float: right; }
  .app-subheader h3 {
    display: inline-block;
    margin-bottom: 0;
    padding-right: 10px; }

.app-subheader .selectbox {
  margin-right: 10px; }
  .app-subheader .selectbox .selecttext {
    color: #f4f4f4;
    text-shadow: 0 -1px 1px #313e48; }
  .app-subheader .selectbox .select-arrow {
    width: 26px;
    border: none;
    background: none; }
    .app-subheader .selectbox .select-arrow:after {
      top: 40%;
      right: 25%; }
  .app-subheader .selectbox select {
    padding-right: 18px; }

.proximity {
  float: left;
  position: relative; }

#prox-range {
  margin-right: 5px;
  margin-left: 15px;
  width: 325px;
  background: #28323a;
  box-shadow: inset 0 1px 2px #1d252a, 0 1px 2px #495761; }
  #prox-range .ui-widget-header {
    background-color: #fbfbfc;
    background-image: -moz-linear-gradient(top, #fbfbfc, #e6e6e6);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fbfbfc), color-stop(1, #e6e6e6));
    background-image: linear-gradient(top, #fbfbfc, #e6e6e6); }
  #prox-range .ui-slider-handle {
    border: 5px solid #f1f5f7;
    background: #b9b9b9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8); }

.nearby {
  display: inline-block; }

.nationwide #prox-range {
  background: #404C55;
  box-shadow: none; }
  .nationwide #prox-range .ui-widget-header {
    background: #545F68;
    box-shadow: none; }
  .nationwide #prox-range .ui-slider-handle {
    border-color: #545F68;
    background: #545F68;
    box-shadow: none; }
.nationwide label, .nationwide #prox-input {
  color: #696F74; }

#prox-input {
  width: 55px;
  color: #c4c7c8;
  text-align: right; }

#prox-zip-code {
  width: 90px; }

#month-select {
  overflow: hidden;
  width: 665px;
  float: left;
  position: relative;
  padding: 8px 8px 8px 95px; }
  #month-select a {
    text-transform: uppercase;
    font-size: 1em;
    padding: 4px;
    color: #9F9F9F;
    border: 1px solid transparent; }
    #month-select a.active {
      border: 1px solid #c7c7c7;
      border-radius: 5px; }
  #month-select ~ .btn {
    margin-left: 20px;
    margin-right: 10px; }
  #month-select li:first-child {
    overflow: hidden;
    position: absolute;
    left: -3px;
    top: -3px;
    padding: 9px;
    *width: 80px; }
    #month-select li:first-child a {
      color: #FFF; }
  #month-select .year-back, #month-select .year-next {
    width: 0px;
    height: 0px;
    border-style: solid;
    padding: 0 2px;
    text-indent: -9999px;
    position: relative;
    top: 1px; }
  #month-select .year-back {
    border-width: 6px 8px 6px 0;
    border-color: transparent white transparent transparent; }
  #month-select .year-next {
    border-width: 6px 0 6px 8px;
    border-color: transparent transparent transparent white; }
  #month-select .year-select {
    padding: 0 7px; }

/** FOOTER **/
footer {
  padding: 80px 40px;
  border: 1px solid #e6e6e6;
  border-top: none;
  border-radius: 0 0 5px 5px;
  background: #fff;
  color: #b2b2b2; }
  footer .links {
    float: left;
    width: 185px; }
    footer .links h3 {
      margin-bottom: 24px; }
    footer .links a:hover {
      text-decoration: underline; }
    footer .links li {
      margin-bottom: 10px; }
    footer .links:first-child {
      margin-left: 220px; }
    footer .links:last-child {
      padding-left: 65px;
      border-left: 1px solid #e6e6e6; }

.sub-footer {
  position: absolute;
  bottom: 25px;
  z-index: 10;
  width: 100%;
  color: #FFF; }
  .sub-footer a {
    color: #FFF; }
  .sub-footer ul {
    margin-left: 24px;
    vertical-align: middle; }
  .sub-footer.container {
    text-align: center; }

/** SLIDER **/
.slider {
  position: relative;
  width: 100%;
  height: 690px;
  background: #000;
  margin: 0 auto; }

.slide-nav {
  position: absolute;
  bottom: 70px;
  left: 45%;
  z-index: 5; }
  .slide-nav li {
    margin: 0; }
  .slide-nav a {
    display: block;
    width: 28px;
    height: 28px;
    background: url(../assets/slider-nav.png) no-repeat top right;
    text-indent: -9999px; }
    .slide-nav a.active-nav {
      background-position: top left; }

.slide {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 800ms cubic-bezier(0.51, 0.01, 0.37, 0.98) 100ms;
  -moz-transition: opacity 800ms cubic-bezier(0.51, 0.01, 0.37, 0.98) 100ms;
  -o-transition: opacity 800ms cubic-bezier(0.51, 0.01, 0.37, 0.98) 100ms;
  transition: opacity 800ms cubic-bezier(0.51, 0.01, 0.37, 0.98) 100ms;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-opacity: 0; }
  .slide.active {
    z-index: 3;
    display: block;
    opacity: 1;
    -moz-opacity: 1; }
  .slide .container {
    padding-top: 190px; }
  .slide h1 {
    margin-bottom: 20px;
    color: #fff;
    font-size: 2.6em; }
  .slide p {
    color: #c2c3c8;
    font-size: 1.5em; }
  .slide .hero {
    float: left;
    width: 570px;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.5); }
    .slide .hero .btn {
      margin-top: 10px; }
    @media screen and (max-width: 960px) {
      .slide .hero {
        width: 350px; } }

#slide1 {
  background: url(../assets/slide1.jpg) no-repeat 50% 50%; }

#slide2 {
  background: url(../assets/slide2.jpg) no-repeat 50% 50%; }

#slide3 {
  background: url(../assets/slide3.jpg) no-repeat 50% 50%; }

#slide4 {
  background: url(../assets/slide4.jpg) no-repeat 50% 50%; }

.dental-slides #slide1 {
  background: url(../assets/dental3.jpg) no-repeat 50% 50%; }
.dental-slides #slide2 {
  background: url(../assets/dental2.jpg) no-repeat 50% 50%; }
.dental-slides #slide3 {
  background: url(../assets/dental1.jpg) no-repeat 50% 50%; }
.dental-slides #slide4 {
  background: url(../assets/dental4.jpg) no-repeat 50% 50%; }

.medical-slides #slide1 {
  background: url(../assets/medical1.jpg) no-repeat 50% 50%; }
.medical-slides #slide2 {
  background: url(../assets/medical2.jpg) no-repeat 50% 50%; }
.medical-slides #slide3 {
  background: url(../assets/medical3.jpg) no-repeat 50% 50%; }
.medical-slides #slide4 {
  background: url(../assets/medical4.jpg) no-repeat 50% 50%; }
.medical-slides #slide5 {
  background: url(../assets/medical5.jpg) no-repeat 50% 50%; }
.medical-slides #slide6 {
  background: url(../assets/medical6.jpg) no-repeat 50% 50%; }

.prelaunch-twitter {
  margin: 115px auto;
  padding-bottom: 25px;
  background: url(../assets/tweet.png) no-repeat bottom center;
  text-align: center;
  font-size: 1.285714286em; }
  .prelaunch-twitter p {
    position: relative;
    margin-bottom: 25px;
    padding: 25px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    background: #fff;
    color: #636363; }
    .prelaunch-twitter p:after {
      position: absolute;
      bottom: -10px;
      left: 50%;
      display: block;
      width: 15px;
      height: 10px;
      background: url(../assets/fff-bordered-caret.png) no-repeat top left;
      content: ' '; }
  .prelaunch-twitter a {
    color: #209be2;
    text-decoration: none;
    font-weight: bold; }

.email-form {
  position: absolute;
  z-index: 5;
  top: 200px;
  right: 110px; }

.cta {
  float: right;
  width: 410px; }
  .cta h3 {
    color: #fff;
    font-size: 21px;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.5); }
  .cta p {
    padding: 10px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    font-size: .857142857em; }
  .cta .btn {
    display: block;
    margin-bottom: 15px;
    padding: 12px;
    text-align: center; }
    .cta .btn img {
      padding-left: 8px; }
  .cta input, .cta .selectbox {
    margin-bottom: 15px;
    padding: 12px 12px;
    border: 1px solid rgba(0, 0, 0, 0.7);
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
    color: #a7a7a7;
    font-size: 1.142857143em;
    vertical-align: top; }
  .cta input[type="text"], .cta input[type="password"], .cta .selectbox {
    width: 175px; }
  .cta input[type="email"] {
    width: 384px; }
  .cta .selectbox {
    padding: 0 0 12px 0;
    background: #fff;
    width: 197px; }
  .cta select {
    width: 100%;
    height: 42px; }
  .cta .selecttext {
    left: 12px;
    color: #A7A7A7;
    font-weight: normal;
    padding-top: 10px; }

/* ==========================================================================
   custom styles
   ========================================================================== */
/** FORM ELEMENTS **/
.selectbox {
  position: relative;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  box-shadow: inset 0 -1px 2px #f1f1f1;
  padding-left: 28px; }
  .selectbox select {
    position: relative;
    z-index: 10;
    height: 30px;
    outline: none;
    border: none;
    background: none;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-appearance: none; }

.selecttext {
  position: absolute;
  left: 18px;
  z-index: 9;
  padding-top: 5px;
  background: transparent; }

.select-arrow {
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #fafafa, #f2f2f2);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(1, #f2f2f2));
  background-image: linear-gradient(top, #fafafa, #f2f2f2);
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 10px;
  width: 6px;
  height: 100%;
  border-left: 1px solid #c8c8c8;
  border-radius: 0 5px 5px 0;
  background-position: center center; }
  .select-arrow:after {
    position: absolute;
    top: 50%;
    right: 35%;
    width: 6px;
    height: 4px;
    background: url(../assets/grey-caret.png) no-repeat right;
    content: ' '; }

.range {
  margin-right: 5px;
  margin-left: 11px;
  height: 11px;
  height: 11px;
  border: 1px solid #e8e8e8;
  border: none;
  border-radius: 5px;
  background: #f7f7f7;
  box-shadow: inset 0 2px 3px #ebebeb;
  *overflow: hidden; }
  .range .ui-widget-header {
    background-color: #90a9ba;
    background-image: -moz-linear-gradient(top, #90a9ba, #5e6d78);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #90a9ba), color-stop(1, #5e6d78));
    background-image: linear-gradient(top, #90a9ba, #5e6d78);
    top: 3px;
    height: 5px; }
  .range .ui-slider-handle {
    top: -2px;
    width: 4px;
    height: 4px;
    border: 5px solid #5e6d78;
    border-radius: 6px;
    background: #bebfc0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); }
    .range .ui-slider-handle:focus {
      outline: none; }

.range-input {
  border: none;
  background: none; }
  .range-input:focus {
    outline: none; }

legend, .legend {
  display: block;
  margin-bottom: 8px;
  color: #6B6B6B; }

.stripe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 260px;
  border-bottom: 1px solid #f0f0f0;
  background: #fff; }

/** $APP **/
.app {
  position: relative;
  z-index: 2;
  border: 1px solid #e6e6e6;
  background: #fff; }
  .app > aside {
    float: left;
    padding: 30px 40px 0 40px;
    width: 187px; }
  .app.signup {
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }

.narrow {
  margin: 80px auto;
  width: 520px; }
  .narrow h1 {
    margin-bottom: 25px;
    color: #717171;
    text-align: center; }
  .narrow h2 {
    text-align: center; }

/** MAIN **/
.main {
  float: left;
  padding: 30px 20px 20px 20px;
  width: 730px;
  border-right: 1px solid #e6e6e6; }

.title {
  display: inline-block;
  color: #17c2e7;
  font-weight: normal; }

.date-select {
  float: right; }

#basic-measures .selectbox, .date-select .selectbox {
  background-color: white;
  background-image: -moz-linear-gradient(top, white, whitesmoke);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, whitesmoke));
  background-image: linear-gradient(top, white, whitesmoke);
  padding-right: 10px;
  border: 1px solid #dfdfdf;
  border-radius: 5px 0 0 5px; }
#basic-measures .selectbox + .selectbox, .date-select .selectbox + .selectbox {
  margin-left: -5px;
  border-radius: 0 5px 5px 0; }
#basic-measures .select-arrow, .date-select .select-arrow {
  top: -3px;
  right: 8px;
  right: 0;
  border: none;
  background: none; }
#basic-measures .selectbox + span, .date-select .selectbox + span {
  margin: 0 8px; }
#basic-measures .selecttext, .date-select .selecttext {
  color: #757f83;
  font-weight: bold; }

/** $TABS **/
.tab-container {
  clear: both;
  padding: 30px 20px 30px 30px;
  border: 1px solid lightgrey;
  border-radius: 5px; }

.tabs {
  margin-left: 30px;
  margin-top: 40px;
  padding-bottom: 4px; }
  .tabs li {
    margin-right: 0; }
    .tabs li a {
      position: relative;
      position: relative;
      z-index: 12;
      padding: 6px 17px;
      border: 1px solid lightgrey;
      border-right: none;
      border-left: none;
      background: #f7f7f7;
      text-decoration: none;
      font-weight: bold; }
      .tabs li a.active {
        padding-top: 10px;
        border-bottom-color: #fff;
        border-left: 1px solid lightgrey;
        background: #fff; }
    .tabs li:first-child a {
      border-left: 1px solid lightgrey; }
      .tabs li:first-child a.active {
        border-right: 1px solid lightgrey; }
    .tabs li:last-child a {
      border-right: 1px solid lightgrey; }

.tab {
  position: relative; }

#basic-measures {
  display: block;
  float: right;
  clear: both;
  margin-top: 25px; }
  #basic-measures .selectbox {
    border-radius: 5px;
    padding-right: 30px; }

.data-list {
  width: 100%; }
  .data-list li {
    margin-bottom: 17px;
    border: 1px solid #ececec;
    border-radius: 5px; }
    .data-list li h3 {
      position: relative;
      margin-bottom: 12px;
      color: #6e6e6e;
      line-height: 1.3; }
      .data-list li h3 .hint {
        position: absolute;
        right: 0; }
    .data-list li h4 {
      font-size: 1.1em;
      font-weight: normal;
      margin-bottom: 12px; }
  .data-list .tag {
    font-size: 11px; }

.key, .value {
  float: left;
  padding: 30px 40px; }

.key {
  padding-right: 15px;
  width: 313px;
  border-right: 1px dashed #ececec; }
  .key p {
    color: #8b8b8b;
    font-size: .857142857em; }
    .key p strong {
      font-weight: normal;
      color: #222; }

.value {
  width: 226px; }
  .value input[type="text"] {
    width: 170px; }
  .value p, .value h3 {
    text-align: center; }
  .value p {
    font-weight: bold; }
  .value h3 span {
    color: #A8A8A8; }

.input-prepend {
  display: inline-block; }
  .input-prepend input[type="text"] {
    width: 136px;
    display: inline-block;
    border-radius: 0 5px 5px 0; }
  .input-prepend span {
    width: 8px;
    padding: 7px 12px 6px 12px;
    display: inline-block;
    border: 1px solid #c8c8c8;
    border-radius: 5px 0 0 5px;
    border-right: none; }

.add-note {
  display: inline-block;
  padding-left: 10px; }

.tag {
  border-radius: 50px;
  padding: 3px 8px;
  font-weight: normal;
  background: #e2f0fc;
  color: #222; }
  .tag.unassigned {
    background: #e8e8e8; }

.data-legend {
  margin: 20px 0; }
  .data-legend ul {
    list-style: none;
    float: right; }
    .data-legend ul li {
      margin-bottom: 12px;
      color: #bdbdbd; }
    .data-legend ul .color {
      width: 12px;
      height: 12px;
      margin-right: 10px;
      background: #00aeef;
      border-radius: 3px; }
      .data-legend ul .color.competitors {
        background: #f26522; }

.hint {
  padding-top: 1px;
  width: 16px;
  height: 15px;
  border: 1px solid #c4c4c4;
  border-radius: 15px;
  color: #c4c4c4;
  text-align: center;
  text-decoration: none;
  font-weight: normal;
  font-size: .785714286em;
  background-color: #fefefe;
  background-image: -moz-linear-gradient(top, #fefefe, #f3f3f3);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fefefe), color-stop(1, #f3f3f3));
  background-image: linear-gradient(top, #fefefe, #f3f3f3); }

.ui-tooltip {
  max-width: 105px;
  border: none;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: none;
  color: #eaeaea;
  text-align: center;
  text-shadow: none;
  font-size: 13px; }
  .ui-tooltip:before {
    position: absolute;
    top: -4px;
    left: 45%;
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 6px 6px 6px;
    border-color: transparent transparent black transparent;
    content: " "; }

.alert {
  margin-top: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .857142857em; }
  .alert.warning {
    color: #e8b59e; }
  .alert p {
    float: left;
    padding-top: 6px; }
  .alert .btn {
    float: right; }

.form-actions a:last-child {
  display: inline-block;
  padding-left: 10px; }

/** DISCUSSION **/
.discussion {
  margin-top: 70px;
  padding: 0 30px 0 20px; }

.comments {
  float: left;
  width: 430px; }

.comment {
  color: #b0b0b0; }
  .comment h3 {
    margin-bottom: 18px;
    color: #8b8b8b;
    font-size: 1.142857143em; }
    .comment h3 span, .comment h3 a {
      padding-left: 15px; }
  .comment + .comment {
    margin-top: 45px; }

#post-comment textarea {
  margin-bottom: 15px;
  min-height: 80px;
  width: 404px; }

.members {
  float: left;
  padding-left: 40px;
  width: 210px;
  color: #5c6266; }
  .members h4 {
    margin-bottom: 30px;
    padding-left: 27px;
    background: url(../assets/user.png) no-repeat left 4px;
    font-size: 1.142857143em; }
  .members ul {
    padding-left: 27px; }
    .members ul li {
      margin-bottom: 20px; }
  .members input[type="email"], .members .btn {
    margin-bottom: 8px;
    margin-left: 27px;
    padding: 6px 12px;
    width: 125px; }
  .members .error, .members .success {
    margin-left: 27px; }

/** $WIDGETS **/
.widget {
  overflow: hidden;
  margin-bottom: 40px; }
  .widget h2 {
    background-color: white;
    background-image: -moz-linear-gradient(top, white, whitesmoke);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, whitesmoke));
    background-image: linear-gradient(top, white, whitesmoke);
    margin-bottom: 0;
    padding: 9px 0;
    border: 1px solid #c8c8c8;
    border-radius: 5px 5px 0 0;
    text-align: center;
    font-size: 1em; }
  .widget .btn {
    display: block;
    margin-bottom: 15px;
    font-weight: normal; }

.widget-content {
  padding: 20px;
  border: 1px solid #c8c8c8;
  border-top: none; }
  .widget-content li {
    position: relative;
    clear: both;
    overflow: hidden;
    padding-bottom: 13px; }
    .widget-content li .slider {
      top: 1em; }
    .widget-content li label {
      display: inline-block;
      padding-left: 10px; }
    .widget-content li input {
      margin: 1px; }
    .widget-content li ul {
      clear: both;
      padding-top: 13px;
      list-style: none; }
    .widget-content li li {
      margin-left: 20px;
      padding-bottom: 6px;
      text-transform: uppercase;
      font-size: .8em; }
  .widget-content input[type="text"], .widget-content input[type="email"], .widget-content textarea {
    margin-bottom: 15px;
    width: 121px; }
  .widget-content .btn {
    display: block;
    margin-bottom: 15px;
    width: 100%; }
  .widget-content .range-slider {
    clear: both;
    padding-top: 10px; }
    .widget-content .range-slider input[type="text"] {
      margin-bottom: 0;
      padding-right: 0;
      border: none;
      box-shadow: none;
      color: #17c2e7;
      text-align: right;
      font-size: .9em; }

.helpful-hint {
  text-align: center; }
  .helpful-hint h3 {
    color: #646464; }
  .helpful-hint p + a {
    display: block;
    color: #646464;
    margin-top: 10px; }

.modal {
  position: fixed;
  z-index: 10;
  top: 150px;
  width: 500px;
  left: 50%;
  margin-left: -250px; }

.modal-form {
  background: #FFF;
  padding: 20px;
  border-radius: 10px; }
  .modal-form label {
    float: left;
    font-size: 1.2em;
    font-weight: bold; }
  .modal-form input[type="email"] {
    float: left; }
  .modal-form input[type="text"] {
    float: right; }
  .modal-form textarea {
    clear: both;
    margin: 0 0 20px 0;
    display: block;
    width: 435px; }
  .modal-form .btn {
    clear: both;
    display: inline-block; }
  .modal-form p {
    margin-bottom: 15px;
    clear: both; }

#add-invitee {
  display: block;
  padding-top: 10px; }

#note-form textarea {
  margin-top: 50px; }

.page h2 {
  font-size: 2em;
  font-weight: bold; }
.page h2, .page h3, .page h4 {
  color: #666; }
.page p {
  margin-bottom: 15px; }
.page ul {
  margin-bottom: 15px;
  margin-left: 15px; }
.page li {
  margin-bottom: 5px; }
